<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# fblaptimer: http://ogp.me/ns/fb/fblaptimer#">
    <meta charset="utf-8" />

    <title><%= track.name %></title>

    <meta property="og:title" content="<%= track.name %>" />
    <meta property="og:type" content="fblaptimer:track" />
    <meta property="og:url" content="<%= og_url %>" />
    <meta property="og:image" content="<%= og_image %>" />
    <meta property="og:description" content="<%= track.description %>" />
    <meta property="fb:app_id" content="<%= app_id %>" />
    <meta property="place:location:latitude" content="<%= track.latitude %>" />
    <meta property="place:location:longitude" content="<%= track.longitude %>" />
  </head>
  <body>
    <h1><%= track.name %></h1>
    <h2><%= track.description %></h2>
    <img src="<%= og_image %>" />
  </body>
</html>

